<!DOCTYPE html>
<html lang='ko'>
<head>
   <title>EJS 만들기</title>
</head>
<body onload="fname.focus()">
   <h1>ejs 테스트</h1>

    <form action="/create" method="get">
        <input type="text" id="fname1" name="content1" />
        <br />
        <input type="text" id="fname2" name="content2" />
        <br />
        <input type="submit" value="submit" />
    </form>
</body>
</html>